In [1]:
import pandas as pd
from time import time

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [3]:
import my_package.v4_dicts as dc
import my_package.v4_datepaths as dp
import my_package.v4_calculus as cc

Today is 19/04/2021. Retrieve data from how many days? 0
Ok, will retrieve data from 19/04/2021

https://www.data.gouv.fr/fr/datasets/donnees-relatives-aux-resultats-des-tests-virologiques-covid-19/

https://www.data.gouv.fr/fr/datasets/donnees-hospitalieres-relatives-a-lepidemie-de-covid-19/

https://www.data.gouv.fr/fr/datasets/donnees-relatives-aux-personnes-vaccinees-contre-la-covid-19-1/

# Données relatives aux résultats des tests virologiques

In [4]:
tic = time()

In [5]:
d_tests_1, path_temp = cc.sp_input()
d_tests_2 = cc.sp_tot_3C(d_tests_1)
d_tests_3 = cc.sp_compute(d_tests_2)

dout = d_tests_3
fname = path_temp + '-tot-3C-compute.csv'
dout.to_csv(fname, sep = ';', index = False)
print(fname)

../Data/sp-pos-quot-dep-2021-04-19-19h06.csv
./Temp/v4/sp-pos-quot-dep-2021-04-19-19h06-tot-3C-compute.csv

In [6]:
#
d_tests_1.sample(3)
d_tests_1.shape
#
d_tests_2.sample(3)
d_tests_2.shape
#
d_tests_3.sample(3)
d_tests_3.shape

       dep       jour   P    T  cl_age90      pop
264578  70 2021-03-31   9  138        69  32926.0
58261   16 2020-12-10  12  160        59  48767.0
30090   09 2020-06-05   0   12        59  21635.0

(387816, 6)

           entity three_class       jour  P    T       pop
29952          24        0-29 2020-06-12  0   31  107442.0
86847          64       whole 2020-05-28  8  507  683169.0
147962  Normandie         60+ 2020-06-21  0  208  952156.0

(157296, 6)

,entity,three_class,jour,P,T,pop,P hebdo,T hebdo,incidence hebdo,taux de positifs hebdo,taux de tests hebdo
111522,82,60+,2020-08-03,0,90,75682.0,0.0,475.0,0.000000,0.000000,627.626120
21445,16,30-59,2021-02-13,8,247,128407.0,140.0,3151.0,109.028324,4.443034,2453.916064
15538,12,60+,2020-10-15,45,292,98333.0,276.0,2311.0,280.678918,11.942882,2350.177458

(157296, 11)

# Données hospitalières

In [7]:
d_hosp_1, path_temp = cc.hosp_input()
d_hosp_2 = cc.hosp_3C(d_hosp_1)
d_hosp_3 = cc.hosp_compute(d_hosp_2)

dout = d_hosp_3
fname = path_temp + '-3C-compute.csv'
dout.to_csv(fname, sep = ';', index = False)
print(fname)

../Data/donnees-hospitalieres-classe-age-covid19-2021-04-19-19h12.csv
./Temp/v4/donnees-hospitalieres-classe-age-covid19-2021-04-19-19h12-3C-compute.csv

In [8]:
'd_hosp_1: '
d_hosp_1.shape
d_hosp_1.sample(3)
'd_hosp_2: '
d_hosp_2.shape
d_hosp_2.sample(3)
'd_hosp_3: '
d_hosp_3.shape
d_hosp_3.sample(3)

'd_hosp_1: '

(78804, 10)

,jour,hosp,rea,HospConv,SSR_USLD,autres,rad,dc,entity,three_class
58951,2021-01-09,3,1,NaN,NaN,NaN,77,0,Nouvelle-Aquitaine,0-29
28334,2020-08-08,0,0,NaN,NaN,NaN,7,5,Outre-mer (DROM),60+
53096,2020-12-11,0,0,NaN,NaN,NaN,7,1,Outre-mer (DROM),60+

'd_hosp_2: '

(23880, 6)

          entity three_class       jour  hosp  rea   dc
7522       Corse         60+ 2020-12-31    14    4  107
4494    Bretagne         60+ 2021-02-08   660   38  958
11957  Normandie       30-59 2020-10-07    38    9   33

'd_hosp_3: '

(23880, 10)

,entity,three_class,jour,hosp,rea,dc,dc hebdo,taux hosp,taux rea,taux décès
8120,Grand Est,0-29,2020-04-27,71,13,2,0.0,3.787533,0.693492,0.0
1484,Auvergne-Rhône-Alpes,0-29,2021-03-24,47,4,9,0.0,1.657748,0.141085,0.0
14889,Occitanie,30-59,2020-08-05,7,2,23,0.0,0.315165,0.090047,0.0

# Données hospitalières départementales (pas de répartition par classe d'âge !)

In [9]:
d_hosp_dep_1, path_temp = cc.hosp_dep_input()
d_hosp_dep_2 = cc.hosp_dep_compute(d_hosp_dep_1)

dout = d_hosp_dep_2
fname = path_temp + '-compute.csv'
dout.to_csv(fname, sep = ';', index = False)
print(fname)

../Data/donnees-hospitalieres-covid19-2021-04-19-19h12.csv
./Temp/v4/donnees-hospitalieres-covid19-2021-04-19-19h12-compute.csv

In [10]:
d_hosp_dep_1
d_hosp_dep_1.shape
d_hosp_dep_2
d_hosp_dep_2.shape

        dep  sexe       jour  hosp  rea  HospConv  SSR_USLD  autres   rad   dc
0        01     0 2020-03-18     2    0       NaN       NaN     NaN     1    0
1        01     1 2020-03-18     1    0       NaN       NaN     NaN     1    0
2        01     2 2020-03-18     1    0       NaN       NaN     NaN     0    0
3        02     0 2020-03-18    41   10       NaN       NaN     NaN    18   11
4        02     1 2020-03-18    19    4       NaN       NaN     NaN    11    6
...     ...   ...        ...   ...  ...       ...       ...     ...   ...  ...
120589  974     1 2021-04-19    93   28      50.0      15.0     0.0   678   88
120590  974     2 2021-04-19    61   15      35.0      11.0     0.0   661   62
120591  976     0 2021-04-19    15    7       8.0       0.0     0.0  1228  124
120592  976     1 2021-04-19     3    1       2.0       0.0     0.0   560   73
120593  976     2 2021-04-19    11    6       5.0       0.0     0.0   649   50

[120594 rows x 10 columns]

(120594, 10)

,entity,jour,hosp,rea,HospConv,SSR_USLD,autres,rad,dc,dc hebdo,taux hosp,taux rea,taux décès
0,01,2020-03-18,2,0,NaN,NaN,NaN,1,0,NaN,0.304435,0.000000,NaN
1,01,2020-03-19,2,0,NaN,NaN,NaN,1,0,NaN,0.304435,0.000000,NaN
2,01,2020-03-20,2,0,NaN,NaN,NaN,1,0,NaN,0.304435,0.000000,NaN
3,01,2020-03-21,4,0,NaN,NaN,NaN,1,0,NaN,0.608870,0.000000,NaN
4,01,2020-03-22,8,1,NaN,NaN,NaN,2,0,NaN,1.217739,0.152217,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
40193,976,2021-04-15,12,6,6.0,0.0,0.0,1228,124,0.0,4.293827,2.146913,0.0
40194,976,2021-04-16,12,6,6.0,0.0,0.0,1228,124,0.0,4.293827,2.146913,0.0
40195,976,2021-04-17,14,6,8.0,0.0,0.0,1228,124,0.0,5.009464,2.146913,0.0
40196,976,2021-04-18,15,7,8.0,0.0,0.0,1228,124,0.0,5.367283,2.504732,0.0
40197,976,2021-04-19,15,7,8.0,0.0,0.0,1228,124,0.0,5.367283,2.504732,0.0

(40198, 13)

# Données relatives aux personnes vaccinées (VACSI)

In [11]:
d_vac_1, path_temp = cc.vac_input()
d_vac_2 = cc.vac_tot_3C(d_vac_1)
d_vac_3 = cc.vac_compute(d_vac_2)

dout = d_vac_3
fname = path_temp + '-tot-3C-compute.csv'
dout.to_csv(fname, sep = ';', index = False)
print(fname)

../Data/vacsi-a-dep-2021-04-19-19h05.csv
./Temp/v4/vacsi-a-dep-2021-04-19-19h05-tot-3C-compute.csv

In [12]:
print(d_vac_1.shape)
d_vac_1.sample(3)

(131758, 7)

       dep  clage_vacsi       jour  n_dose1  n_dose2  n_cum_dose1  n_cum_dose2
103086  89           39 2021-01-26       11        0          221            0
101770  88           24 2021-03-07        5        0          169           47
102608  88           79 2020-12-31        0        0            0            0

In [13]:
print(d_vac_2.shape)
d_vac_2.sample(3)

(52432, 7)

,entity,three_class,jour,n_dose1,n_dose2,n_cum_dose1,n_cum_dose2
30083,66,whole,2021-02-27,362,432,29693,16226
22919,50,whole,2021-03-16,1335,269,49947,21538
50942,Outre-mer (DROM),60+,2021-03-16,842,692,33693,16291

In [14]:
print(d_vac_3.shape)
d_vac_3.sample(3)

(52432, 9)

,entity,three_class,jour,n_dose1,n_dose2,n_cum_dose1,n_cum_dose2,taux dose 1,taux dose 2
9761,23,30-59,2021-03-04,41,25,1937,1254,4.711405,3.050130
41539,91,whole,2021-04-07,3231,1685,150881,51834,11.435568,3.928601
42953,95,30-59,2020-12-30,0,0,0,0,0.000000,0.000000

In [15]:
toc = time()
print(-tic+toc, ' s')

7.862696647644043  s