In [1]:
import pandas as pd

In [2]:
import my_package.v4_dicts as dc
import my_package.v4_datepaths as dp
import my_package.v4_calculus as cc

Today is 13/04/2021. Retrieve data from how many days? 0
Ok, will retrieve data from 13/04/2021

https://www.data.gouv.fr/fr/datasets/donnees-relatives-aux-resultats-des-tests-virologiques-covid-19/

https://www.data.gouv.fr/fr/datasets/donnees-hospitalieres-relatives-a-lepidemie-de-covid-19/

https://www.data.gouv.fr/fr/datasets/donnees-relatives-aux-personnes-vaccinees-contre-la-covid-19-1/

# Données relatives aux résultats des tests virologiques

In [3]:
d_tests_1, path_temp = cc.sp_input()
d_tests_2 = cc.sp_tot_3C(d_tests_1)
d_tests_3 = cc.sp_compute(d_tests_2)

dout = d_tests_3
fname = path_temp + '-tot-3C-compute.csv'
dout.to_csv(fname, sep = ';', index = False)
print(fname)

../Data/sp-pos-quot-dep-2021-04-13-18h57.csv
../Temp/v4/sp-pos-quot-dep-2021-04-13-18h57-tot-3C-compute.csv

In [4]:
print(d_tests_1.shape)
d_tests_1.sample(3)

(380952, 6)

        dep       jour  P    T  cl_age90      pop
372429  976 2020-12-23  4   83        29  36651.0
360727  973 2020-10-19  2  109        49  34757.0
187482   51 2020-07-12  0    6        90   6990.0

In [5]:
print(d_tests_2.shape)
d_tests_2.sample(3)

(154512, 6)

                 entity three_class       jour    P     T        pop
11593                09       30-59 2021-01-02    5   175    56230.0
145150  Hauts-de-France         60+ 2021-04-01  809  7965  1471086.0
67660                50        0-29 2021-02-02   37   728   149117.0

In [6]:
print(d_tests_3.shape)
d_tests_3.sample(3)

(154512, 11)

,entity,three_class,jour,P,T,pop,P hebdo,T hebdo,incidence hebdo,taux de positifs hebdo,taux de tests hebdo
131999,974,whole,2020-06-14,0,156,859959.0,11.0,3462.0,1.279131,0.317735,402.577332
53921,40,30-59,2020-10-20,70,702,158040.0,302.0,3559.0,191.090863,8.485530,2251.961529
144541,Hauts-de-France,30-59,2020-10-31,1562,9798,2275147.0,17057.0,106725.0,749.709799,15.982197,4690.905687

# Données hospitalières

In [7]:
d_hosp_1, path_temp = cc.hosp_input()
d_hosp_2 = cc.hosp_3C(d_hosp_1)
d_hosp_3 = cc.hosp_compute(d_hosp_2)

dout = d_hosp_3
fname = path_temp + '-3C-compute.csv'
dout.to_csv(fname, sep = ';', index = False)
print(fname)

../Data/donnees-hospitalieres-classe-age-covid19-2021-04-13-18h56.csv
../Temp/v4/donnees-hospitalieres-classe-age-covid19-2021-04-13-18h56-3C-compute.csv

In [8]:
print(d_hosp_1.shape)
d_hosp_1.sample(3)

(77616, 10)

,jour,hosp,rea,HospConv,SSR_USLD,autres,rad,dc,entity,three_class
24940,2020-07-21,0,0,NaN,NaN,NaN,14,0,Corse,0-29
57835,2021-01-04,7,2,NaN,NaN,NaN,65,12,Outre-mer (DROM),60+
76876,2021-04-10,1,0,1.0,0.0,0.0,128,31,Outre-mer (DROM),60+

In [9]:
print(d_hosp_2.shape)
d_hosp_2.sample(3)

(23520, 6)

                           entity three_class       jour  hosp  rea    dc
15308                   Occitanie        0-29 2021-01-11    12    1     1
20166  Provence-Alpes-Côte d'Azur         60+ 2021-02-18  2969  333  5165
9880              Hauts-de-France        0-29 2020-07-14     8    0     1

In [10]:
print(d_hosp_3.shape)
d_hosp_3.sample(3)

(23520, 10)

,entity,three_class,jour,hosp,rea,dc,dc hebdo,taux hosp,taux rea,taux décès
8659,Grand Est,whole,2020-10-08,265,39,3752,12.0,4.807913,0.707580,0.217717
17926,Pays de la Loire,60+,2020-09-03,68,6,476,3.0,6.513092,0.574685,0.287342
9729,Hauts-de-France,30-59,2020-06-06,162,28,87,2.0,7.120419,1.230690,0.087906

# Données relatives aux personnes vaccinées (VACSI)

In [11]:
d_vac_1, path_temp = cc.vac_input()
d_vac_2 = cc.vac_tot_3C(d_vac_1)
d_vac_3 = cc.vac_compute(d_vac_2)

dout = d_vac_3
fname = path_temp + '-tot-3C-compute.csv'
dout.to_csv(fname, sep = ';', index = False)
print(fname)

../Data/vacsi-a-dep-2021-04-13-18h55.csv
../Temp/v4/vacsi-a-dep-2021-04-13-18h55-tot-3C-compute.csv

In [12]:
print(d_vac_1.shape)
d_vac_1.sample(3)

(124762, 7)

      dep  clage_vacsi       jour  n_dose1  n_dose2  n_cum_dose1  n_cum_dose2
34076  30           79 2021-02-15      129      164         5059         1233
26182  25           59 2021-03-11      206       21         5114         2481
5924   05           64 2021-02-04        1       12          299           62

In [13]:
print(d_vac_2.shape)
d_vac_2.sample(3)

(49648, 7)

,entity,three_class,jour,n_dose1,n_dose2,n_cum_dose1,n_cum_dose2
16946,39,60+,2021-02-28,0,0,15243,9890
18448,43,0-29,2021-01-07,0,0,0,0
33920,79,0-29,2021-01-23,2,0,108,0

In [14]:
print(d_vac_3.shape)
d_vac_3.sample(3)

(49648, 9)

,entity,three_class,jour,n_dose1,n_dose2,n_cum_dose1,n_cum_dose2,taux dose 1,taux dose 2
8897,22,30-59,2021-03-21,0,0,14934,6249,6.976451,2.919234
41040,95,0-29,2021-04-01,236,6,3571,461,0.701529,0.090564
16066,37,60+,2021-02-22,142,317,16817,7927,9.723451,4.583326