In [1]:
import pandas as pd
from time import time
import numpy as np

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [3]:
import my_package.v4_dicts as dc
import my_package.v4_datepaths as dp
import my_package.v4_calculus as cc

Today is 24/04/2021. Retrieve data from how many days?
Ok, will retrieve data from 23/04/2021

https://www.data.gouv.fr/fr/datasets/donnees-relatives-aux-resultats-des-tests-virologiques-covid-19/

https://www.data.gouv.fr/fr/datasets/donnees-hospitalieres-relatives-a-lepidemie-de-covid-19/

https://www.data.gouv.fr/fr/datasets/donnees-relatives-aux-personnes-vaccinees-contre-la-covid-19-1/

# Données relatives aux résultats des tests virologiques

In [4]:
tic = time()

In [5]:
d_tests_1, path_temp = cc.sp_input()
d_tests_2 = cc.sp_tot_3C(d_tests_1)
d_tests_3 = cc.sp_compute(d_tests_2)

dout = d_tests_3
fname = path_temp + '-tot-3C-compute.csv'
dout.to_csv(fname, sep = ';', index = False)
print(fname)

../Data/sp-pos-quot-dep-2021-04-23-20h07.csv
./Temp/v4/sp-pos-quot-dep-2021-04-23-20h07-tot-3C-compute.csv

In [6]:
#
d_tests_1.sample(3)
d_tests_1.shape
#
d_tests_2.sample(3)
d_tests_2.shape
#
d_tests_3.sample(3)
d_tests_3.shape

       dep       jour   P    T  cl_age90      pop
24938   07 2020-12-08   5   75        19  37340.0
116179  30 2021-02-08  26  321        89  39145.0
277273  73 2020-10-27  50  170        79  38517.0

(392392, 6)

       entity three_class       jour   P     T       pop
74486      54         60+ 2020-08-20   1   428  191550.0
76741      55       30-59 2021-03-29  73   850   68269.0
130653     95       30-59 2020-07-30  19  1044  498065.0

(159152, 6)

,entity,three_class,jour,P,T,pop,P hebdo,T hebdo,incidence hebdo,taux de positifs hebdo,taux de tests hebdo
9643,08,whole,2020-05-22,3,156,265531.0,15.0,662.0,5.649058,2.265861,249.311756
17021,13,30-59,2020-09-29,314,4927,776651.0,1680.0,26521.0,216.313376,6.334603,3414.789912
146578,France,60+,2021-02-23,5639,92771,17850240.0,31383.0,509792.0,175.812762,6.156040,2855.939192

(159152, 11)

# Données hospitalières

In [7]:
d_hosp_1, path_temp = cc.hosp_input()
d_hosp_2 = cc.hosp_3C(d_hosp_1)
d_hosp_3 = cc.hosp_compute(d_hosp_2)

dout = d_hosp_3
fname = path_temp + '-3C-compute.csv'
dout.to_csv(fname, sep = ';', index = False)
print(fname)

../Data/donnees-hospitalieres-classe-age-covid19-2021-04-23-20h12.csv
./Temp/v4/donnees-hospitalieres-classe-age-covid19-2021-04-23-20h12-3C-compute.csv

In [8]:
'd_hosp_1: '
d_hosp_1.shape
d_hosp_1.sample(3)
'd_hosp_2: '
d_hosp_2.shape
d_hosp_2.sample(3)
'd_hosp_3: '
d_hosp_3.shape
d_hosp_3.sample(3)

'd_hosp_1: '

(79596, 10)

,jour,hosp,rea,HospConv,SSR_USLD,autres,rad,dc,entity,three_class
64348,2021-02-05,16,1,NaN,NaN,NaN,110,50,Corse,60+
56111,2020-12-26,1770,175,NaN,NaN,NaN,9492,2510,Bourgogne-Franche-Comté,whole
63739,2021-02-02,86,23,NaN,NaN,NaN,1676,23,Provence-Alpes-Côte d'Azur,30-59

'd_hosp_2: '

(24120, 6)

                   entity three_class       jour  hosp  rea    dc
9205            Grand Est       30-59 2021-01-03   309   61   241
13364  Nouvelle-Aquitaine        0-29 2020-07-21     3    1     2
21283       Île-de-France       whole 2020-06-20  4450  341  7383

'd_hosp_3: '

(24120, 10)

,entity,three_class,jour,hosp,rea,dc,dc hebdo,taux hosp,taux rea,taux décès
20437,Provence-Alpes-Côte d'Azur,30-59,2020-12-28,194,49,115,0.0,10.162490,2.566814,0.000000
4608,Bretagne,0-29,2021-03-01,10,1,0,0.0,0.900947,0.090095,0.000000
5911,Centre-Val de Loire,whole,2020-12-14,938,109,1166,70.0,36.653898,4.259355,2.735366

# Données hospitalières départementales (2) : pas de répartition par classe d'âge !

In [9]:
d_hosp_dep_1, path_temp = cc.hosp_dep_input()
d_hosp_dep_2 = cc.hosp_dep_compute(d_hosp_dep_1)

dout = d_hosp_dep_2
fname = path_temp + '-compute.csv'
dout.to_csv(fname, sep = ';', index = False)
print(fname)

../Data/donnees-hospitalieres-covid19-2021-04-23-20h12.csv
./Temp/v4/donnees-hospitalieres-covid19-2021-04-23-20h12-compute.csv

In [10]:
d_hosp_dep_1
d_hosp_dep_1.shape
d_hosp_dep_2
d_hosp_dep_2.shape

        dep  sexe       jour  hosp  rea  HospConv  SSR_USLD  autres   rad   dc
0        01     0 2020-03-18     2    0       NaN       NaN     NaN     1    0
1        01     1 2020-03-18     1    0       NaN       NaN     NaN     1    0
2        01     2 2020-03-18     1    0       NaN       NaN     NaN     0    0
3        02     0 2020-03-18    41   10       NaN       NaN     NaN    18   11
4        02     1 2020-03-18    19    4       NaN       NaN     NaN    11    6
...     ...   ...        ...   ...  ...       ...       ...     ...   ...  ...
121801  974     1 2021-04-23    95   27      51.0      17.0     0.0   701   90
121802  974     2 2021-04-23    58   13      34.0      11.0     0.0   675   64
121803  976     0 2021-04-23    18    5      13.0       0.0     0.0  1228  124
121804  976     1 2021-04-23     4    1       3.0       0.0     0.0   560   73
121805  976     2 2021-04-23    13    4       9.0       0.0     0.0   649   50

[121806 rows x 10 columns]

(121806, 10)

,entity,jour,hosp,rea,HospConv,SSR_USLD,autres,rad,dc,dc hebdo,taux hosp,taux rea,taux décès
0,01,2020-03-18,2,0,NaN,NaN,NaN,1,0,NaN,0.304435,0.000000,NaN
1,01,2020-03-19,2,0,NaN,NaN,NaN,1,0,NaN,0.304435,0.000000,NaN
2,01,2020-03-20,2,0,NaN,NaN,NaN,1,0,NaN,0.304435,0.000000,NaN
3,01,2020-03-21,4,0,NaN,NaN,NaN,1,0,NaN,0.608870,0.000000,NaN
4,01,2020-03-22,8,1,NaN,NaN,NaN,2,0,NaN,1.217739,0.152217,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
40597,976,2021-04-19,15,7,8.0,0.0,0.0,1228,124,0.0,5.367283,2.504732,0.0
40598,976,2021-04-20,16,6,10.0,0.0,0.0,1228,124,0.0,5.725102,2.146913,0.0
40599,976,2021-04-21,17,5,12.0,0.0,0.0,1228,124,0.0,6.082921,1.789094,0.0
40600,976,2021-04-22,17,5,12.0,0.0,0.0,1228,124,0.0,6.082921,1.789094,0.0
40601,976,2021-04-23,18,5,13.0,0.0,0.0,1228,124,0.0,6.440740,1.789094,0.0

(40602, 13)

# Données relatives aux personnes vaccinées (VACSI)

In [11]:
d_vac_1, path_temp = cc.vac_input()
d_vac_1 = d_vac_1[d_vac_1.dep != '20']
d_vac_2 = cc.vac_tot_3C(d_vac_1)
d_vac_3 = cc.vac_compute(d_vac_2)

dout = d_vac_3
fname = path_temp + '-tot-3C-compute.csv'
dout.to_csv(fname, sep = ';', index = False)
print(fname)

../Data/vacsi-a-dep-2021-04-23-20h11.csv
./Temp/v4/vacsi-a-dep-2021-04-23-20h11-tot-3C-compute.csv

In [12]:
print(d_vac_1.shape)
d_vac_1.sample(3)

(136422, 7)

       dep  clage_vacsi       jour  n_dose1  n_dose2  n_cum_dose1  n_cum_dose2
45107   36           64 2021-02-27       19        7          780          415
110649  91           64 2021-03-21       12        0         7909         1836
104976  86           74 2021-01-23       18        0          439            0

In [13]:
print(d_vac_2.shape)
d_vac_2.sample(3)

(54288, 7)

,entity,three_class,jour,n_dose1,n_dose2,n_cum_dose1,n_cum_dose2
40741,87,30-59,2021-01-02,0,0,0,0
22429,47,30-59,2021-04-14,351,79,10898,3123
23106,49,60+,2021-02-08,470,243,17822,1911

In [14]:
print(d_vac_3.shape)
d_vac_3.sample(3)

(54288, 9)

,entity,three_class,jour,n_dose1,n_dose2,n_cum_dose1,n_cum_dose2,taux dose 1,taux dose 2
44559,95,whole,2021-01-20,2018,4,10703,25,0.857369,0.002003
35889,76,30-59,2021-03-17,212,16,29922,13131,6.462398,2.835965
14302,30,60+,2021-03-02,1374,730,27178,13525,11.923104,5.933475

In [15]:
toc = time()
print(-tic+toc, ' s')

8.033254861831665  s

# Données hospitalières (3) Estimation par classe d'âge et par département

## dfs pops et pops_prop

### df dpops

In [16]:
fname = dp.retrieve_temp('sp-pos-quot-dep', 'tot-3C-compute')
dtes = pd.read_csv(fname, sep = ';', 
                parse_dates = ['jour'],
                dtype = {'entity': str},
               )

./Temp/v4/sp-pos-quot-dep-2021-04-23-20h07-tot-3C-compute.csv

In [17]:
columns = pd.Index(dtes.three_class.unique(), name = 'clage')
index = pd.Index(dtes.entity.unique(), name = 'entity')
dpops = pd.DataFrame(index = index, columns = columns)
dpops.sample()

clage  0-29 30-59  60+ whole
entity
52      NaN   NaN  NaN   NaN

In [18]:
for entity in dtes.entity.unique():
    for clage in dtes.three_class.unique():
        dpops.loc[entity, clage] = dtes[(dtes.entity == entity) & (dtes.three_class == clage) & (dtes.jour == '2021-01-01')]["pop"].values[0]

In [19]:
dpops.sample()

clage       0-29     30-59      60+     whole
entity
53      103116.0  112210.0  90039.0  305365.0

In [20]:
dpops.shape
dpops.loc['France', :]
dpops.loc['France','60+']

(116, 4)

clage
0-29     23555651.0
30-59    25657812.0
60+      17850240.0
whole    67063703.0
Name: France, dtype: object

17850240.0

In [21]:
dout = dpops
fname = path_temp + '-pops.csv'
dout.to_csv(fname, sep = ';', index = False)
print(fname)

./Temp/v4/vacsi-a-dep-2021-04-23-20h11-pops.csv

### df dpops_prop

In [22]:
dpops_prop = dpops.divide(dpops.whole, axis = 'index')
dpops_prop

clage                           0-29     30-59       60+ whole
entity
01                          0.354913  0.403463  0.241624   1.0
02                          0.344635   0.37594  0.279426   1.0
03                          0.286133  0.358127   0.35574   1.0
04                          0.287838  0.369062  0.343099   1.0
05                          0.296248   0.37973  0.324022   1.0
...                              ...       ...       ...   ...
Occitanie                   0.330174  0.374871  0.294955   1.0
Outre-mer (DROM)            0.432203  0.375058  0.192739   1.0
Pays de la Loire            0.350137  0.375243   0.27462   1.0
Provence-Alpes-Côte d'Azur  0.324136  0.377594   0.29827   1.0
Île-de-France               0.390357  0.404643     0.205   1.0

[116 rows x 4 columns]

## taux hosp

### empty df dhosps

In [23]:
fname = dp.retrieve_temp('donnees-hospitalieres-classe-age-covid19', '3C-compute')
dhos = pd.read_csv(fname, sep = ';', 
                parse_dates = ['jour'],
                dtype = {'entity': str},
               )
fname = dp.retrieve_temp('donnees-hospitalieres-covid19', 'compute')
dhosdep = pd.read_csv(fname, sep = ';', 
                parse_dates = ['jour'],
                dtype = {'entity': str},
               )

./Temp/v4/donnees-hospitalieres-classe-age-covid19-2021-04-23-20h12-3C-compute.csv
./Temp/v4/donnees-hospitalieres-covid19-2021-04-23-20h12-compute.csv

In [24]:
columns = pd.MultiIndex.from_tuples([(i, j) for i in dpops.index.unique() for j in dtes.three_class.unique()],
                       name = ['entity', 'clage'])
index = pd.Index(dhos.jour.unique(), name = "jour")
dhosps = pd.DataFrame(index = index, columns = columns)
dhosps.shape
dhosps.sample()

(402, 464)

entity       01                    02                    03        ...  \
clage      0-29 30-59  60+ whole 0-29 30-59  60+ whole 0-29 30-59  ...
jour                                                               ...
2020-10-01  NaN   NaN  NaN   NaN  NaN   NaN  NaN   NaN  NaN   NaN  ...

entity     Pays de la Loire       Provence-Alpes-Côte d'Azur                   \
clage                   60+ whole                       0-29 30-59  60+ whole
jour
2020-10-01              NaN   NaN                        NaN   NaN  NaN   NaN

entity     Île-de-France
clage               0-29 30-59  60+ whole
jour
2020-10-01           NaN   NaN  NaN   NaN

[1 rows x 464 columns]

### (1) fill it with data for each (entity = dc.regs, clage)

In [25]:
dhos.sample()

,entity,three_class,jour,hosp,rea,dc,dc hebdo,taux hosp,taux rea,taux décès
15466,Occitanie,60+,2020-11-21,1774,297,1453,190.0,101.512618,16.995066,10.872265

In [26]:
dhos = dhos.set_index(dhos.jour)
dhos.sample()

,entity,three_class,jour,hosp,rea,dc,dc hebdo,taux hosp,taux rea,taux décès
jour,,,,,,,,,,
2020-05-24,Occitanie,whole,2020-05-24,293,60,483,13.0,4.945266,1.012682,0.219415

In [27]:
for entity, clage in dhosps.columns:
    dhosps.loc[:,(entity,clage)] = dhos[(dhos.entity == entity) & (dhos.three_class == clage)]["taux hosp"]

In [28]:
dhosps.sample()

entity       01                   02                   03        ...  \
clage      0-29 30-59 60+ whole 0-29 30-59 60+ whole 0-29 30-59  ...
jour                                                             ...
2020-08-15  NaN   NaN NaN   NaN  NaN   NaN NaN   NaN  NaN   NaN  ...

entity     Pays de la Loire           Provence-Alpes-Côte d'Azur            \
clage                   60+     whole                       0-29     30-59
jour
2020-08-15         8.332926  2.761852                    0.18307  2.409663

entity                          Île-de-France
clage             60+     whole          0-29     30-59        60+      whole
jour
2020-08-15  18.767213  6.566909      1.543956  9.802155  78.505129  20.882523

[1 rows x 464 columns]

### (2) fill it with data for each (entity = dc.deps, clage = ['whole'])

In [29]:
dhosdep.sample()
dhosdep = dhosdep.set_index(dhosdep.jour)
dhosdep.sample()

,entity,jour,hosp,rea,HospConv,SSR_USLD,autres,rad,dc,dc hebdo,taux hosp,taux rea,taux décès
16322,40,2020-11-15,106,14,NaN,NaN,NaN,205,42,12.0,25.729467,3.398231,2.91277

,entity,jour,hosp,rea,HospConv,SSR_USLD,autres,rad,dc,dc hebdo,taux hosp,taux rea,taux décès
jour,,,,,,,,,,,,,
2021-02-06,39,2021-02-06,193,5,NaN,NaN,NaN,1344,367,25.0,74.850009,1.939119,9.695597

In [30]:
for entity in dhosdep.entity.unique():
    for clage in ['whole']:
        dhosps.loc[:,(entity, clage)] = dhosdep[(dhosdep.entity == entity)]["taux hosp"]

In [31]:
dhosps.sample()

entity       01                       02                        03        ...  \
clage      0-29 30-59 60+     whole 0-29 30-59 60+      whole 0-29 30-59  ...
jour                                                                      ...
2020-06-18  NaN   NaN NaN  9.589698  NaN   NaN NaN  22.051136  NaN   NaN  ...

entity     Pays de la Loire           Provence-Alpes-Côte d'Azur            \
clage                   60+     whole                       0-29     30-59
jour
2020-06-18        19.730837  5.997164                   0.244093  3.719262

entity                           Île-de-France                         \
clage             60+      whole          0-29      30-59         60+
jour
2020-06-18  40.518612  13.588754       2.00297  17.591548  141.317178

entity
clage           whole
jour
2020-06-18  37.269276

[1 rows x 464 columns]

In [32]:
dhosps['01', 'whole']

jour
2020-03-18     0.304435
2020-03-19     0.304435
2020-03-20     0.304435
2020-03-21     0.608870
2020-03-22     1.217739
                ...
2021-04-19    28.464659
2021-04-20    29.225746
2021-04-21    29.834616
2021-04-22    27.551354
2021-04-23    28.008007
Name: (01, whole), Length: 402, dtype: float64

In [33]:
dhosps.loc[:,('01', 'whole')]

jour
2020-03-18     0.304435
2020-03-19     0.304435
2020-03-20     0.304435
2020-03-21     0.608870
2020-03-22     1.217739
                ...
2021-04-19    28.464659
2021-04-20    29.225746
2021-04-21    29.834616
2021-04-22    27.551354
2021-04-23    28.008007
Name: (01, whole), Length: 402, dtype: float64

### (3) estimate data for missing (entity = dc.deps, clage = ['0-29', '30-59', '60+'])

La proportion observée au niveau régional pour la classe d'âge considérée par rapport à l'ensemble de la population est appliquée au taux départemental :
Taux (département, classe d'âge) = taux (département) * taux (région, classe d'âge) / taux (région)

In [34]:
for entity in dc.deps:
    for clage in ['0-29', '30-59', '60+']:
        dhosps.loc[:,(entity, clage)] = (
            dhosps.loc[:,(entity, 'whole')]
            * dhosps.loc[:,(dc.dep2reg[entity], clage)]
            / dhosps.loc[:,(dc.dep2reg[entity], 'whole')]
#             * dpops_prop.loc[entity, clage]
#             / dpops_prop.loc[dc.dep2reg[entity], clage]
        )

In [35]:
dhosps.loc[:,('Auvergne-Rhône-Alpes', '0-29')]

jour
2020-03-18    0.141085
2020-03-19    0.176356
2020-03-20    0.141085
2020-03-21    0.246899
2020-03-22    0.387984
                ...
2021-04-19    2.292631
2021-04-20    2.292631
2021-04-21    2.222088
2021-04-22    2.292631
2021-04-23    2.186817
Name: (Auvergne-Rhône-Alpes, 0-29), Length: 402, dtype: float64

## Fonction

In [36]:
def estimate_deps(din, dindep, column):
    columns = pd.MultiIndex.from_tuples([(i, j) for i in dtes.entity.unique() for j in dtes.three_class.unique()],
                       name = ['entity', 'clage'])
    index = pd.Index(din.jour.unique(), name = "jour")
    dout = pd.DataFrame(index = index, columns = columns)

    din = din.copy().set_index(din.jour)
    for entity, clage in dout.columns:
        dout.loc[:,(entity,clage)] = din[(din.entity == entity) & (din.three_class == clage)][column]

    dindep = dindep.copy().set_index(dindep.jour)
    for entity in dindep.entity.unique():
        for clage in ['whole']:
            dout.loc[:,(entity, clage)] = dindep[(dindep.entity == entity)][column]

    for entity in dc.deps:
        for clage in ['0-29', '30-59', '60+']:
            dout.loc[:,(entity, clage)] = (
                dout.loc[:,(entity, 'whole')]
                * dout.loc[:,(dc.dep2reg[entity], clage)]
                / dout.loc[:,(dc.dep2reg[entity], 'whole')]
            )
    dout = pd.melt(dout.T.reset_index(), id_vars = ['entity', 'clage'], value_name = column)
    return dout

In [37]:
d1 = estimate_deps(dhos, dhosdep, "taux hosp")

In [38]:
d2 = estimate_deps(dhos, dhosdep, "taux rea")

In [39]:
d3 = estimate_deps(dhos, dhosdep, "taux décès")

In [40]:
dout = pd.merge(pd.merge(d1,d2), d3)
fname = path_temp + '-estimates-hosp.csv'
dout.to_csv(fname, sep = ';', index = False)
print(fname)

./Temp/v4/vacsi-a-dep-2021-04-23-20h11-estimates-hosp.csv

In [41]:
dout

,entity,clage,jour,taux hosp,taux rea,taux décès
0,01,0-29,2020-03-18,0.020058,0.000000,NaN
1,01,30-59,2020-03-18,0.152049,0.000000,NaN
2,01,60+,2020-03-18,0.855067,0.000000,NaN
3,01,whole,2020-03-18,0.304435,0.000000,NaN
4,02,0-29,2020-03-18,1.406754,0.176344,NaN
...,...,...,...,...,...,...
186523,Provence-Alpes-Côte d'Azur,whole,2021-04-23,61.693341,10.819576,3.738391
186524,Île-de-France,0-29,2021-04-23,3.880755,0.625928,0.083457
186525,Île-de-France,30-59,2021-04-23,39.570919,12.962193,0.945999
186526,Île-de-France,60+,2021-04-23,223.080111,42.430910,19.308448
186527,Île-de-France,whole,2021-04-23,64.105436,14.383204,4.406180