In [1]:
import pandas as pd
from time import time

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [3]:
import my_package.v4_dicts as dc
import my_package.v4_datepaths as dp
import my_package.v4_calculus as cc

Today is 19/04/2021. Retrieve data from how many days?
Ok, will retrieve data from 18/04/2021

https://www.data.gouv.fr/fr/datasets/donnees-relatives-aux-resultats-des-tests-virologiques-covid-19/

https://www.data.gouv.fr/fr/datasets/donnees-hospitalieres-relatives-a-lepidemie-de-covid-19/

https://www.data.gouv.fr/fr/datasets/donnees-relatives-aux-personnes-vaccinees-contre-la-covid-19-1/

# Données relatives aux résultats des tests virologiques

In [4]:
tic = time()

In [5]:
d_tests_1, path_temp = cc.sp_input()
d_tests_2 = cc.sp_tot_3C(d_tests_1)
d_tests_3 = cc.sp_compute(d_tests_2)

dout = d_tests_3
fname = path_temp + '-tot-3C-compute.csv'
dout.to_csv(fname, sep = ';', index = False)
print(fname)

../Data/sp-pos-quot-dep-2021-04-18-19h10.csv
./Temp/v4/sp-pos-quot-dep-2021-04-18-19h10-tot-3C-compute.csv

In [6]:
#
d_tests_1.sample(3)
d_tests_1.shape
#
d_tests_2.sample(3)
d_tests_2.shape
#
d_tests_3.sample(3)
d_tests_3.shape

       dep       jour   P     T  cl_age90        pop
76606   22 2020-12-03   5   219        29    47869.0
189406  50 2021-03-27  10   106        89    32934.0
44945   13 2020-06-11  77  2626         0  2034469.0

(386672, 6)

           entity three_class       jour    P      T        pop
83609          61       30-59 2021-02-21    2     35    98601.0
373            01       30-59 2020-08-14   11    337   265057.0
146012  Grand Est        0-29 2021-04-15  869  10258  1874571.0

(156832, 6)

,entity,three_class,jour,P,T,pop,P hebdo,T hebdo,incidence hebdo,taux de positifs hebdo,taux de tests hebdo
53060,39,0-29,2020-08-04,0,69,80151.0,0.0,445.0,0.000000,0.000000,555.202056
75114,55,60+,2020-11-17,20,202,55929.0,99.0,1148.0,177.010138,8.623693,2052.602407
80582,59,60+,2020-12-02,131,1920,601674.0,883.0,12755.0,146.757214,6.922775,2119.918760

(156832, 11)

# Données hospitalières

In [7]:
d_hosp_1, path_temp = cc.hosp_input()
d_hosp_2 = cc.hosp_3C(d_hosp_1)
d_hosp_3 = cc.hosp_compute(d_hosp_2)

dout = d_hosp_3
fname = path_temp + '-3C-compute.csv'
dout.to_csv(fname, sep = ';', index = False)
print(fname)

../Data/donnees-hospitalieres-classe-age-covid19-2021-04-18-19h10.csv
./Temp/v4/donnees-hospitalieres-classe-age-covid19-2021-04-18-19h10-3C-compute.csv

In [8]:
'd_hosp_1: '
d_hosp_1.shape
d_hosp_1.sample(3)
'd_hosp_2: '
d_hosp_2.shape
d_hosp_2.sample(3)
'd_hosp_3: '
d_hosp_3.shape
d_hosp_3.sample(3)

'd_hosp_1: '

(78606, 10)

,jour,hosp,rea,HospConv,SSR_USLD,autres,rad,dc,entity,three_class
2687,2020-03-31,41,5,NaN,NaN,NaN,82,1,Grand Est,0-29
36462,2020-09-18,1,0,NaN,NaN,NaN,108,17,Outre-mer (DROM),60+
50975,2020-11-30,2,0,NaN,NaN,NaN,33,0,Normandie,0-29

'd_hosp_2: '

(23820, 6)

                     entity three_class       jour  hosp  rea    dc
147    Auvergne-Rhône-Alpes       whole 2020-04-23  2760  483  1167
11944             Normandie        0-29 2020-10-11     4    0     0
216    Auvergne-Rhône-Alpes        0-29 2020-05-11    21    3     0

'd_hosp_3: '

(23820, 10)

,entity,three_class,jour,hosp,rea,dc,dc hebdo,taux hosp,taux rea,taux décès
6891,Corse,whole,2020-07-30,8,1,59,0.0,2.321000,0.290125,0.00000
16616,Outre-mer (DROM),0-29,2020-09-18,17,0,5,0.0,1.776622,0.000000,0.00000
11198,Normandie,60+,2020-04-07,543,149,136,79.0,57.028470,15.648696,8.29696

# Données hospitalières départementales (pas de répartition par classe d'âge !)

In [9]:
d_hosp_dep_1, path_temp = cc.hosp_dep_input()
d_hosp_dep_2 = cc.hosp_dep_compute(d_hosp_dep_1)

dout = d_hosp_dep_2
fname = path_temp + '-compute.csv'
dout.to_csv(fname, sep = ';', index = False)
print(fname)

../Data/donnees-hospitalieres-covid19-2021-04-18-19h10.csv
./Temp/v4/donnees-hospitalieres-covid19-2021-04-18-19h10-compute.csv

In [10]:
d_hosp_dep_1
d_hosp_dep_1.shape
d_hosp_dep_2
d_hosp_dep_2.shape

        dep  sexe       jour  hosp  rea  HospConv  SSR_USLD  autres   rad   dc
0        01     0 2020-03-18     2    0       NaN       NaN     NaN     1    0
1        01     1 2020-03-18     1    0       NaN       NaN     NaN     1    0
2        01     2 2020-03-18     1    0       NaN       NaN     NaN     0    0
3        02     0 2020-03-18    41   10       NaN       NaN     NaN    18   11
4        02     1 2020-03-18    19    4       NaN       NaN     NaN    11    6
...     ...   ...        ...   ...  ...       ...       ...     ...   ...  ...
120286  974     1 2021-04-18    83   28      40.0      15.0     0.0   676   88
120287  974     2 2021-04-18    60   12      37.0      11.0     0.0   659   61
120288  976     0 2021-04-18    15    7       8.0       0.0     0.0  1228  124
120289  976     1 2021-04-18     3    1       2.0       0.0     0.0   560   73
120290  976     2 2021-04-18    11    6       5.0       0.0     0.0   649   50

[120291 rows x 10 columns]

(120291, 10)

,entity,jour,hosp,rea,HospConv,SSR_USLD,autres,rad,dc,dc hebdo,taux hosp,taux rea,taux décès
0,01,2020-03-18,2,0,NaN,NaN,NaN,1,0,NaN,0.304435,0.000000,NaN
1,01,2020-03-19,2,0,NaN,NaN,NaN,1,0,NaN,0.304435,0.000000,NaN
2,01,2020-03-20,2,0,NaN,NaN,NaN,1,0,NaN,0.304435,0.000000,NaN
3,01,2020-03-21,4,0,NaN,NaN,NaN,1,0,NaN,0.608870,0.000000,NaN
4,01,2020-03-22,8,1,NaN,NaN,NaN,2,0,NaN,1.217739,0.152217,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
40092,976,2021-04-14,15,6,9.0,0.0,0.0,1222,124,0.0,5.367283,2.146913,0.0
40093,976,2021-04-15,12,6,6.0,0.0,0.0,1228,124,0.0,4.293827,2.146913,0.0
40094,976,2021-04-16,12,6,6.0,0.0,0.0,1228,124,0.0,4.293827,2.146913,0.0
40095,976,2021-04-17,14,6,8.0,0.0,0.0,1228,124,0.0,5.009464,2.146913,0.0
40096,976,2021-04-18,15,7,8.0,0.0,0.0,1228,124,0.0,5.367283,2.504732,0.0

(40097, 13)

# Données relatives aux personnes vaccinées (VACSI)

In [11]:
d_vac_1, path_temp = cc.vac_input()
d_vac_2 = cc.vac_tot_3C(d_vac_1)
d_vac_3 = cc.vac_compute(d_vac_2)

dout = d_vac_3
fname = path_temp + '-tot-3C-compute.csv'
dout.to_csv(fname, sep = ';', index = False)
print(fname)

../Data/vacsi-a-dep-2021-04-18-19h05.csv
./Temp/v4/vacsi-a-dep-2021-04-18-19h05-tot-3C-compute.csv

In [12]:
print(d_vac_1.shape)
d_vac_1.sample(3)

(130592, 7)

       dep  clage_vacsi       jour  n_dose1  n_dose2  n_cum_dose1  n_cum_dose2
20972   18           74 2021-01-24        0        0          414            0
48359   42           29 2021-03-24       54        6         1018          250
122557  33            0 2021-01-25     2159       58        26505          103

In [13]:
print(d_vac_2.shape)
d_vac_2.sample(3)

(51968, 7)

,entity,three_class,jour,n_dose1,n_dose2,n_cum_dose1,n_cum_dose2
7522,17,60+,2021-03-25,4080,516,69147,32506
15147,33,whole,2021-03-27,3489,33,192324,63483
10296,24,0-29,2021-04-16,32,7,1202,370

In [14]:
print(d_vac_3.shape)
d_vac_3.sample(3)

(51968, 9)

,entity,three_class,jour,n_dose1,n_dose2,n_cum_dose1,n_cum_dose2,taux dose 1,taux dose 2
82,01,60+,2021-01-16,143,0,1208,0,0.761012,0.000000
24841,55,30-59,2021-02-15,11,89,1417,651,2.075613,0.953581
44314,973,60+,2021-04-08,111,79,4878,2777,17.295419,9.846121

In [15]:
toc = time()
print(-tic+toc, ' s')

8.114840030670166  s

# Estimer les données hospitalières par département

In [27]:
fname = dp.retrieve_temp('donnees-hospitalieres-classe-age-covid19', '3C-compute')
dhos = pd.read_csv(fname, sep = ';', 
                parse_dates = ['jour'],
                dtype = {'entity': str},
               )
fname = dp.retrieve_temp('donnees-hospitalieres-covid19', 'compute')
dhosdep = pd.read_csv(fname, sep = ';', 
                parse_dates = ['jour'],
                dtype = {'entity': str},
               )
fname = dp.retrieve_temp('sp-pos-quot-dep', 'tot-3C-compute')
dtes = pd.read_csv(fname, sep = ';', 
                parse_dates = ['jour'],
                dtype = {'entity': str},
               )

./Temp/v4/donnees-hospitalieres-classe-age-covid19-2021-04-18-19h10-3C-compute.csv
./Temp/v4/donnees-hospitalieres-covid19-2021-04-18-19h10-compute.csv
./Temp/v4/sp-pos-quot-dep-2021-04-18-19h10-tot-3C-compute.csv

In [30]:
pops = {}
for entity in dtes.entity.unique():
    pops[entity] = {}
    for clage in dtes.three_class.unique():
        pops[entity][clage] = dtes[(dtes.entity == entity) & (dtes.three_class == clage) & (dtes.jour == '2021-01-01')]["pop"].unique()[0]

In [33]:
dhos["popul"] = dhos.apply(lambda x: pops[x.entity][x.three_class], axis = 1)

In [36]:
dhosdep["popul"] = dhosdep.apply(lambda x: pops[x.entity]['whole'], axis = 1)

In [38]:
d = pd.merge(dhosdep, dhos, how = "outer")

In [39]:
d

,entity,jour,hosp,rea,HospConv,SSR_USLD,autres,rad,dc,dc hebdo,taux hosp,taux rea,taux décès,popul,three_class
0,01,2020-03-18,2,0,NaN,NaN,NaN,1.0,0,NaN,0.304435,0.000000,NaN,656955.0,NaN
1,01,2020-03-19,2,0,NaN,NaN,NaN,1.0,0,NaN,0.304435,0.000000,NaN,656955.0,NaN
2,01,2020-03-20,2,0,NaN,NaN,NaN,1.0,0,NaN,0.304435,0.000000,NaN,656955.0,NaN
3,01,2020-03-21,4,0,NaN,NaN,NaN,1.0,0,NaN,0.608870,0.000000,NaN,656955.0,NaN
4,01,2020-03-22,8,1,NaN,NaN,NaN,2.0,0,NaN,1.217739,0.152217,NaN,656955.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63912,France,2021-04-17,30329,5877,NaN,NaN,NaN,NaN,74423,1973.0,45.189603,8.756612,2.939731,67063703.0,whole
63913,France,2021-04-18,501,72,NaN,NaN,NaN,NaN,78,2.0,2.124999,0.305389,0.008483,23555651.0,0-29
63914,France,2021-04-18,6093,1791,NaN,NaN,NaN,NaN,3394,105.0,23.725774,6.974046,0.408864,25657812.0,30-59
63915,France,2021-04-18,23928,3977,NaN,NaN,NaN,NaN,70696,1823.0,133.993497,22.270651,10.208548,17850240.0,60+
63916,France,2021-04-18,30789,5893,NaN,NaN,NaN,NaN,74563,1937.0,45.874994,8.780452,2.886091,67063703.0,whole

In [ ]:
d_test, path = cc.sp_input()

In [ ]:
d_test

In [ ]:
for dep in dep

In [ ]:
dhos.apply(lambda x: find_pop(x.entity, x.clage), axis = 1)