In [1]:
import pandas as pd
from time import time
import numpy as np

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [3]:
import my_package.v4_dicts as dc
import my_package.v4_datepaths as dp
import my_package.v4_calculus as cc

Today is 21/04/2021. Retrieve data from how many days? 0
Ok, will retrieve data from 21/04/2021

https://www.data.gouv.fr/fr/datasets/donnees-relatives-aux-resultats-des-tests-virologiques-covid-19/

https://www.data.gouv.fr/fr/datasets/donnees-hospitalieres-relatives-a-lepidemie-de-covid-19/

https://www.data.gouv.fr/fr/datasets/donnees-relatives-aux-personnes-vaccinees-contre-la-covid-19-1/

# Données relatives aux résultats des tests virologiques

In [4]:
tic = time()

In [5]:
d_tests_1, path_temp = cc.sp_input()
d_tests_2 = cc.sp_tot_3C(d_tests_1)
d_tests_3 = cc.sp_compute(d_tests_2)

dout = d_tests_3
fname = path_temp + '-tot-3C-compute.csv'
dout.to_csv(fname, sep = ';', index = False)
print(fname)

../Data/sp-pos-quot-dep-2021-04-21-18h11.csv
./Temp/v4/sp-pos-quot-dep-2021-04-21-18h11-tot-3C-compute.csv

In [6]:
#
d_tests_1.sample(3)
d_tests_1.shape
#
d_tests_2.sample(3)
d_tests_2.shape
#
d_tests_3.sample(3)
d_tests_3.shape

       dep       jour   P    T  cl_age90       pop
215172  57 2020-09-14  10  611        19  118336.0
170533  45 2020-10-18   1   26         9   83183.0
285376  76 2020-06-09   0   62        39  152559.0

(390104, 6)

       entity three_class       jour    P     T       pop
49163      36       whole 2020-05-27    0   115  217139.0
127808     93        0-29 2021-01-07  173  2054  707322.0
35176      27        0-29 2021-02-06   27   501  207302.0

(158224, 6)

,entity,three_class,jour,P,T,pop,P hebdo,T hebdo,incidence hebdo,taux de positifs hebdo,taux de tests hebdo
106497,78,30-59,2020-06-08,5,341,578277.0,37.0,1953.0,6.398318,1.894521,337.727421
59568,43,0-29,2020-12-28,15,255,68752.0,66.0,2451.0,95.997207,2.692778,3564.987200
26943,21,whole,2021-01-24,24,340,532886.0,1100.0,15599.0,206.423137,7.051734,2927.267746

(158224, 11)

# Données hospitalières

In [7]:
d_hosp_1, path_temp = cc.hosp_input()
d_hosp_2 = cc.hosp_3C(d_hosp_1)
d_hosp_3 = cc.hosp_compute(d_hosp_2)

dout = d_hosp_3
fname = path_temp + '-3C-compute.csv'
dout.to_csv(fname, sep = ';', index = False)
print(fname)

../Data/donnees-hospitalieres-classe-age-covid19-2021-04-21-18h17.csv
./Temp/v4/donnees-hospitalieres-classe-age-covid19-2021-04-21-18h17-3C-compute.csv

In [8]:
'd_hosp_1: '
d_hosp_1.shape
d_hosp_1.sample(3)
'd_hosp_2: '
d_hosp_2.shape
d_hosp_2.sample(3)
'd_hosp_3: '
d_hosp_3.shape
d_hosp_3.sample(3)

'd_hosp_1: '

(79200, 10)

,jour,hosp,rea,HospConv,SSR_USLD,autres,rad,dc,entity,three_class
49792,2020-11-24,84,23,NaN,NaN,NaN,593,34,Normandie,30-59
53256,2020-12-11,2,1,NaN,NaN,NaN,39,2,Corse,30-59
62312,2021-01-26,135,17,NaN,NaN,NaN,800,161,Bretagne,60+

'd_hosp_2: '

(24000, 6)

                        entity three_class       jour  hosp  rea   dc
2301   Bourgogne-Franche-Comté       30-59 2020-09-09     6    0   37
11935                Normandie       whole 2020-09-17   147   16  453
7703                     Corse       whole 2021-02-06    54    7  127

'd_hosp_3: '

(24000, 10)

,entity,three_class,jour,hosp,rea,dc,dc hebdo,taux hosp,taux rea,taux décès
4795,Bretagne,whole,2021-04-20,818,131,1439,42.0,24.488239,3.921711,1.257342
20674,Provence-Alpes-Côte d'Azur,60+,2021-03-21,2552,375,6165,200.0,169.236493,24.868215,13.263048
10452,Hauts-de-France,0-29,2020-10-17,21,8,2,0.0,0.947470,0.360941,0.000000

# Données hospitalières départementales (2) : pas de répartition par classe d'âge !

In [9]:
d_hosp_dep_1, path_temp = cc.hosp_dep_input()
d_hosp_dep_2 = cc.hosp_dep_compute(d_hosp_dep_1)

dout = d_hosp_dep_2
fname = path_temp + '-compute.csv'
dout.to_csv(fname, sep = ';', index = False)
print(fname)

../Data/donnees-hospitalieres-covid19-2021-04-21-18h17.csv
./Temp/v4/donnees-hospitalieres-covid19-2021-04-21-18h17-compute.csv

In [10]:
d_hosp_dep_1
d_hosp_dep_1.shape
d_hosp_dep_2
d_hosp_dep_2.shape

        dep  sexe       jour  hosp  rea  HospConv  SSR_USLD  autres   rad   dc
0        01     0 2020-03-18     2    0       NaN       NaN     NaN     1    0
1        01     1 2020-03-18     1    0       NaN       NaN     NaN     1    0
2        01     2 2020-03-18     1    0       NaN       NaN     NaN     0    0
3        02     0 2020-03-18    41   10       NaN       NaN     NaN    18   11
4        02     1 2020-03-18    19    4       NaN       NaN     NaN    11    6
...     ...   ...        ...   ...  ...       ...       ...     ...   ...  ...
121195  974     1 2021-04-21    94   24      54.0      16.0     0.0   691   88
121196  974     2 2021-04-21    57   15      32.0      10.0     0.0   670   64
121197  976     0 2021-04-21    17    5      12.0       0.0     0.0  1228  124
121198  976     1 2021-04-21     4    1       3.0       0.0     0.0   560   73
121199  976     2 2021-04-21    12    4       8.0       0.0     0.0   649   50

[121200 rows x 10 columns]

(121200, 10)

,entity,jour,hosp,rea,HospConv,SSR_USLD,autres,rad,dc,dc hebdo,taux hosp,taux rea,taux décès
0,01,2020-03-18,2,0,NaN,NaN,NaN,1,0,NaN,0.304435,0.000000,NaN
1,01,2020-03-19,2,0,NaN,NaN,NaN,1,0,NaN,0.304435,0.000000,NaN
2,01,2020-03-20,2,0,NaN,NaN,NaN,1,0,NaN,0.304435,0.000000,NaN
3,01,2020-03-21,4,0,NaN,NaN,NaN,1,0,NaN,0.608870,0.000000,NaN
4,01,2020-03-22,8,1,NaN,NaN,NaN,2,0,NaN,1.217739,0.152217,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
40395,976,2021-04-17,14,6,8.0,0.0,0.0,1228,124,0.0,5.009464,2.146913,0.0
40396,976,2021-04-18,15,7,8.0,0.0,0.0,1228,124,0.0,5.367283,2.504732,0.0
40397,976,2021-04-19,15,7,8.0,0.0,0.0,1228,124,0.0,5.367283,2.504732,0.0
40398,976,2021-04-20,16,6,10.0,0.0,0.0,1228,124,0.0,5.725102,2.146913,0.0
40399,976,2021-04-21,17,5,12.0,0.0,0.0,1228,124,0.0,6.082921,1.789094,0.0

(40400, 13)

# Données relatives aux personnes vaccinées (VACSI)

In [11]:
d_vac_1, path_temp = cc.vac_input()
d_vac_2 = cc.vac_tot_3C(d_vac_1)
d_vac_3 = cc.vac_compute(d_vac_2)

dout = d_vac_3
fname = path_temp + '-tot-3C-compute.csv'
dout.to_csv(fname, sep = ';', index = False)
print(fname)

../Data/vacsi-a-dep-2021-04-21-18h17.csv
./Temp/v4/vacsi-a-dep-2021-04-21-18h17-tot-3C-compute.csv

In [12]:
print(d_vac_1.shape)
d_vac_1.sample(3)

(134090, 7)

       dep  clage_vacsi       jour  n_dose1  n_dose2  n_cum_dose1  n_cum_dose2
23070   21           24 2021-03-07        0        0          867          168
132198  87            0 2021-02-28        3        0        20175        11603
126221  36            0 2021-03-03      390      630        16794        11706

In [13]:
print(d_vac_2.shape)
d_vac_2.sample(3)

(53360, 7)

,entity,three_class,jour,n_dose1,n_dose2,n_cum_dose1,n_cum_dose2
41135,89,whole,2021-02-13,51,123,13452,4750
7043,16,whole,2021-01-31,0,0,13231,480
51427,Occitanie,whole,2021-03-28,4846,118,716818,279751

In [14]:
print(d_vac_3.shape)
d_vac_3.sample(3)

(53360, 9)

,entity,three_class,jour,n_dose1,n_dose2,n_cum_dose1,n_cum_dose2,taux dose 1,taux dose 2
42572,92,0-29,2021-02-28,2,0,1725,503,0.282708,0.082436
5925,13,30-59,2021-04-07,2994,624,75423,21989,9.711312,2.831259
575,02,whole,2021-01-24,67,0,11195,24,2.128125,0.004562

In [15]:
toc = time()
print(-tic+toc, ' s')

7.919695138931274  s

# Données hospitalières (3) Estimation par classe d'âge et par département

## dfs pops et pops_prop

### df dpops

In [16]:
fname = dp.retrieve_temp('sp-pos-quot-dep', 'tot-3C-compute')
dtes = pd.read_csv(fname, sep = ';', 
                parse_dates = ['jour'],
                dtype = {'entity': str},
               )

./Temp/v4/sp-pos-quot-dep-2021-04-21-18h11-tot-3C-compute.csv

In [17]:
columns = pd.Index(dtes.three_class.unique(), name = 'clage')
index = pd.Index(dtes.entity.unique(), name = 'entity')
dpops = pd.DataFrame(index = index, columns = columns)
dpops.sample()

clage  0-29 30-59  60+ whole
entity
35      NaN   NaN  NaN   NaN

In [18]:
for entity in dtes.entity.unique():
    for clage in dtes.three_class.unique():
        dpops.loc[entity, clage] = dtes[(dtes.entity == entity) & (dtes.three_class == clage) & (dtes.jour == '2021-01-01')]["pop"].values[0]

In [19]:
dpops.sample()

clage       0-29     30-59       60+     whole
entity
Corse   101916.0  136799.0  105964.0  344679.0

In [20]:
dpops.shape
dpops.loc['France', :]
dpops.loc['France','60+']

(116, 4)

clage
0-29     23555651.0
30-59    25657812.0
60+      17850240.0
whole    67063703.0
Name: France, dtype: object

17850240.0

In [21]:
dout = dpops
fname = path_temp + '-pops.csv'
dout.to_csv(fname, sep = ';', index = False)
print(fname)

./Temp/v4/vacsi-a-dep-2021-04-21-18h17-pops.csv

### df dpops_prop

In [22]:
dpops_prop = dpops.divide(dpops.whole, axis = 'index')
dpops_prop

clage                           0-29     30-59       60+ whole
entity
01                          0.354913  0.403463  0.241624   1.0
02                          0.344635   0.37594  0.279426   1.0
03                          0.286133  0.358127   0.35574   1.0
04                          0.287838  0.369062  0.343099   1.0
05                          0.296248   0.37973  0.324022   1.0
...                              ...       ...       ...   ...
Occitanie                   0.330174  0.374871  0.294955   1.0
Outre-mer (DROM)            0.432203  0.375058  0.192739   1.0
Pays de la Loire            0.350137  0.375243   0.27462   1.0
Provence-Alpes-Côte d'Azur  0.324136  0.377594   0.29827   1.0
Île-de-France               0.390357  0.404643     0.205   1.0

[116 rows x 4 columns]

## taux hosp

### empty df dhosps

In [23]:
fname = dp.retrieve_temp('donnees-hospitalieres-classe-age-covid19', '3C-compute')
dhos = pd.read_csv(fname, sep = ';', 
                parse_dates = ['jour'],
                dtype = {'entity': str},
               )
fname = dp.retrieve_temp('donnees-hospitalieres-covid19', 'compute')
dhosdep = pd.read_csv(fname, sep = ';', 
                parse_dates = ['jour'],
                dtype = {'entity': str},
               )

./Temp/v4/donnees-hospitalieres-classe-age-covid19-2021-04-21-18h17-3C-compute.csv
./Temp/v4/donnees-hospitalieres-covid19-2021-04-21-18h17-compute.csv

In [24]:
columns = pd.MultiIndex.from_tuples([(i, j) for i in dpops.index.unique() for j in dtes.three_class.unique()],
                       name = ['entity', 'clage'])
index = pd.Index(dhos.jour.unique(), name = "jour")
dhosps = pd.DataFrame(index = index, columns = columns)
dhosps.shape
dhosps.sample()

(400, 464)

entity       01                    02                    03        ...  \
clage      0-29 30-59  60+ whole 0-29 30-59  60+ whole 0-29 30-59  ...
jour                                                               ...
2020-08-12  NaN   NaN  NaN   NaN  NaN   NaN  NaN   NaN  NaN   NaN  ...

entity     Pays de la Loire       Provence-Alpes-Côte d'Azur                   \
clage                   60+ whole                       0-29 30-59  60+ whole
jour
2020-08-12              NaN   NaN                        NaN   NaN  NaN   NaN

entity     Île-de-France
clage               0-29 30-59  60+ whole
jour
2020-08-12           NaN   NaN  NaN   NaN

[1 rows x 464 columns]

### (1) fill it with data for each (entity = dc.regs, clage)

In [25]:
dhos.sample()

,entity,three_class,jour,hosp,rea,dc,dc hebdo,taux hosp,taux rea,taux décès
17445,Outre-mer (DROM),30-59,2021-03-14,137,61,89,2.0,16.39931,7.301883,0.239406

In [26]:
dhos = dhos.set_index(dhos.jour)
dhos.sample()

,entity,three_class,jour,hosp,rea,dc,dc hebdo,taux hosp,taux rea,taux décès
jour,,,,,,,,,,
2021-03-31,Auvergne-Rhône-Alpes,0-29,2021-03-31,46,3,9,0.0,1.622477,0.105814,0.0

In [27]:
for entity, clage in dhosps.columns:
    dhosps.loc[:,(entity,clage)] = dhos[(dhos.entity == entity) & (dhos.three_class == clage)]["taux hosp"]

In [28]:
dhosps.sample()

entity       01                   02                   03        ...  \
clage      0-29 30-59 60+ whole 0-29 30-59 60+ whole 0-29 30-59  ...
jour                                                             ...
2020-10-05  NaN   NaN NaN   NaN  NaN   NaN NaN   NaN  NaN   NaN  ...

entity     Pays de la Loire          Provence-Alpes-Côte d'Azur            \
clage                   60+    whole                       0-29     30-59
jour
2020-10-05        14.941799  5.02394                   1.037394  7.019452

entity                           Île-de-France
clage             60+      whole          0-29     30-59        60+      whole
jour
2020-10-05  47.415397  17.208466      1.251856  11.21109  68.811176  19.229187

[1 rows x 464 columns]

### (2) fill it with data for each (entity = dc.deps, clage = ['whole'])

In [29]:
dhosdep.sample()
dhosdep = dhosdep.set_index(dhosdep.jour)
dhosdep.sample()

,entity,jour,hosp,rea,HospConv,SSR_USLD,autres,rad,dc,dc hebdo,taux hosp,taux rea,taux décès
13520,33,2021-02-01,456,83,NaN,NaN,NaN,3149,639,42.0,27.916544,5.081301,2.571261

,entity,jour,hosp,rea,HospConv,SSR_USLD,autres,rad,dc,dc hebdo,taux hosp,taux rea,taux décès
jour,,,,,,,,,,,,,
2020-11-24,19,2020-11-24,58,6,NaN,NaN,NaN,305,80,4.0,24.132881,2.496505,1.664337

In [30]:
for entity in dhosdep.entity.unique():
    for clage in ['whole']:
        dhosps.loc[:,(entity, clage)] = dhosdep[(dhosdep.entity == entity)]["taux hosp"]

In [31]:
dhosps.sample()

entity       01                        02                        03        \
clage      0-29 30-59 60+      whole 0-29 30-59 60+      whole 0-29 30-59
jour
2020-06-04  NaN   NaN NaN  12.786264  NaN   NaN NaN  27.944112  NaN   NaN

entity      ... Pays de la Loire           Provence-Alpes-Côte d'Azur  \
clage       ...              60+     whole                       0-29
jour        ...
2020-06-04  ...        27.872202  8.759016                   0.366139

entity                                     Île-de-France             \
clage          30-59        60+      whole          0-29      30-59
jour
2020-06-04  4.452637  47.349081  15.942556      2.461984  22.220903

entity
clage              60+      whole
jour
2020-06-04  177.868149  46.871653

[1 rows x 464 columns]

In [32]:
dhosps['01', 'whole']

jour
2020-03-18     0.304435
2020-03-19     0.304435
2020-03-20     0.304435
2020-03-21     0.608870
2020-03-22     1.217739
                ...
2021-04-17    28.312441
2021-04-18    28.312441
2021-04-19    28.464659
2021-04-20    29.225746
2021-04-21    29.834616
Name: (01, whole), Length: 400, dtype: float64

In [33]:
dhosps.loc[:,('01', 'whole')]

jour
2020-03-18     0.304435
2020-03-19     0.304435
2020-03-20     0.304435
2020-03-21     0.608870
2020-03-22     1.217739
                ...
2021-04-17    28.312441
2021-04-18    28.312441
2021-04-19    28.464659
2021-04-20    29.225746
2021-04-21    29.834616
Name: (01, whole), Length: 400, dtype: float64

### (3) estimate data for missing (entity = dc.deps, clage = ['0-29', '30-59', '60+'])

La proportion observée au niveau régional pour la classe d'âge considérée par rapport à l'ensemble de la population est appliquée au taux départemental :
Taux (département, classe d'âge) = taux (département) * taux (région, classe d'âge) / taux (région)

In [34]:
for entity in dc.deps:
    for clage in ['0-29', '30-59', '60+']:
        dhosps.loc[:,(entity, clage)] = (
            dhosps.loc[:,(entity, 'whole')]
            * dhosps.loc[:,(dc.dep2reg[entity], clage)]
            / dhosps.loc[:,(dc.dep2reg[entity], 'whole')]
#             * dpops_prop.loc[entity, clage]
#             / dpops_prop.loc[dc.dep2reg[entity], clage]
        )

In [35]:
dhosps.loc[:,('Auvergne-Rhône-Alpes', '0-29')]

jour
2020-03-18    0.141085
2020-03-19    0.176356
2020-03-20    0.141085
2020-03-21    0.246899
2020-03-22    0.387984
                ...
2021-04-17    2.116274
2021-04-18    2.116274
2021-04-19    2.292631
2021-04-20    2.292631
2021-04-21    2.222088
Name: (Auvergne-Rhône-Alpes, 0-29), Length: 400, dtype: float64

## Fonction

In [36]:
def estimate_deps(din, dindep, column):
    columns = pd.MultiIndex.from_tuples([(i, j) for i in dtes.entity.unique() for j in dtes.three_class.unique()],
                       name = ['entity', 'clage'])
    index = pd.Index(din.jour.unique(), name = "jour")
    dout = pd.DataFrame(index = index, columns = columns)

    din = din.copy().set_index(din.jour)
    for entity, clage in dout.columns:
        dout.loc[:,(entity,clage)] = din[(din.entity == entity) & (din.three_class == clage)][column]

    dindep = dindep.copy().set_index(dindep.jour)
    for entity in dindep.entity.unique():
        for clage in ['whole']:
            dout.loc[:,(entity, clage)] = dindep[(dindep.entity == entity)][column]

    for entity in dc.deps:
        for clage in ['0-29', '30-59', '60+']:
            dout.loc[:,(entity, clage)] = (
                dout.loc[:,(entity, 'whole')]
                * dout.loc[:,(dc.dep2reg[entity], clage)]
                / dout.loc[:,(dc.dep2reg[entity], 'whole')]
            )
    dout = pd.melt(dout.T.reset_index(), id_vars = ['entity', 'clage'], value_name = column)
    return dout

In [37]:
d1 = estimate_deps(dhos, dhosdep, "taux hosp")

In [38]:
d2 = estimate_deps(dhos, dhosdep, "taux rea")

In [39]:
d3 = estimate_deps(dhos, dhosdep, "taux décès")

In [40]:
dout = pd.merge(pd.merge(d1,d2), d3)
fname = path_temp + '-estimates-hosp.csv'
dout.to_csv(fname, sep = ';', index = False)
print(fname)

./Temp/v4/vacsi-a-dep-2021-04-21-18h17-estimates-hosp.csv

In [41]:
dout

,entity,clage,jour,taux hosp,taux rea,taux décès
0,01,0-29,2020-03-18,0.020058,0.000000,NaN
1,01,30-59,2020-03-18,0.152049,0.000000,NaN
2,01,60+,2020-03-18,0.855067,0.000000,NaN
3,01,whole,2020-03-18,0.304435,0.000000,NaN
4,02,0-29,2020-03-18,1.406754,0.176344,NaN
...,...,...,...,...,...,...
185595,Provence-Alpes-Côte d'Azur,whole,2021-04-21,63.987803,11.234953,3.639492
185596,Île-de-France,0-29,2021-04-21,4.068533,0.542471,0.104321
185597,Île-de-France,30-59,2021-04-21,39.570919,12.982321,1.046637
185598,Île-de-France,60+,2021-04-21,229.039508,42.907662,20.738703
185599,Île-de-France,whole,2021-04-21,65.416702,14.407638,4.740105