In [1]:
import pandas as pd
from time import time

In [2]:
import my_package.v4_dicts as dc
import my_package.v4_datepaths as dp
import my_package.v4_calculus as cc

Today is 13/04/2021. Retrieve data from how many days? 0
Ok, will retrieve data from 13/04/2021

https://www.data.gouv.fr/fr/datasets/donnees-relatives-aux-resultats-des-tests-virologiques-covid-19/

https://www.data.gouv.fr/fr/datasets/donnees-hospitalieres-relatives-a-lepidemie-de-covid-19/

https://www.data.gouv.fr/fr/datasets/donnees-relatives-aux-personnes-vaccinees-contre-la-covid-19-1/

# Données relatives aux résultats des tests virologiques

In [3]:
tic = time()

In [4]:
d_tests_1, path_temp = cc.sp_input()
d_tests_2 = cc.sp_tot_3C(d_tests_1)
d_tests_3 = cc.sp_compute(d_tests_2)

dout = d_tests_3
fname = path_temp + '-tot-3C-compute.csv'
dout.to_csv(fname, sep = ';', index = False)
print(fname)

../Data/sp-pos-quot-dep-2021-04-13-18h57.csv
../Temp/v4/sp-pos-quot-dep-2021-04-13-18h57-tot-3C-compute.csv

In [5]:
print(d_tests_1.shape)
d_tests_1.sample(3)

(380952, 6)

       dep       jour    P     T  cl_age90        pop
136770  37 2020-09-02    1   106        79    54650.0
143423  39 2020-07-03    0    74        59    36427.0
123144  33 2020-12-04  176  4331         0  1633440.0

In [6]:
print(d_tests_2.shape)
d_tests_2.sample(3)

(154512, 6)

       entity three_class       jour   P    T       pop
60967      45       whole 2021-01-24  34  562  682890.0
42679      32       whole 2020-05-26   2  212  190040.0
119906     90         60+ 2020-05-19   4   49   38060.0

In [7]:
print(d_tests_3.shape)
d_tests_3.sample(3)

(154512, 11)

,entity,three_class,jour,P,T,pop,P hebdo,T hebdo,incidence hebdo,taux de positifs hebdo,taux de tests hebdo
94712,71,0-29,2020-06-17,0,57,163376.0,2.0,270.0,1.224170,0.740741,165.262952
2396,02,0-29,2021-02-03,58,884,181295.0,402.0,5380.0,221.738051,7.472119,2967.539094
49275,36,whole,2021-04-08,92,1054,217139.0,432.0,5706.0,198.950902,7.570978,2627.809836

# Données hospitalières

In [8]:
d_hosp_1, path_temp = cc.hosp_input()
d_hosp_2 = cc.hosp_3C(d_hosp_1)
d_hosp_3 = cc.hosp_compute(d_hosp_2)

dout = d_hosp_3
fname = path_temp + '-3C-compute.csv'
dout.to_csv(fname, sep = ';', index = False)
print(fname)

../Data/donnees-hospitalieres-classe-age-covid19-2021-04-13-18h56.csv
../Temp/v4/donnees-hospitalieres-classe-age-covid19-2021-04-13-18h56-3C-compute.csv

In [9]:
print(d_hosp_1.shape)
d_hosp_1.sample(3)

(77616, 10)

,jour,hosp,rea,HospConv,SSR_USLD,autres,rad,dc,entity,three_class
22527,2020-07-09,11,0,NaN,NaN,NaN,238,105,Nouvelle-Aquitaine,60+
66818,2021-02-18,19,7,NaN,NaN,NaN,286,4,Normandie,30-59
18446,2020-06-19,0,0,NaN,NaN,NaN,0,1,Outre-mer (DROM),60+

In [10]:
print(d_hosp_2.shape)
d_hosp_2.sample(3)

(23520, 6)

                       entity three_class       jour  hosp  rea  dc
2661  Bourgogne-Franche-Comté       30-59 2020-12-16   169   24  66
4677                 Bretagne       30-59 2021-04-07   144   31  38
3153                 Bretagne       30-59 2020-03-22    29    9   0

In [11]:
print(d_hosp_3.shape)
d_hosp_3.sample(3)

(23520, 10)

,entity,three_class,jour,hosp,rea,dc,dc hebdo,taux hosp,taux rea,taux décès
17044,Outre-mer (DROM),0-29,2021-02-22,41,2,7,1.0,4.284795,0.209014,0.104507
17227,Outre-mer (DROM),whole,2021-04-08,398,103,611,21.0,17.951856,4.645832,0.947208
12661,Nouvelle-Aquitaine,30-59,2020-04-16,122,57,8,-1.0,5.444343,2.543669,-0.044626

# Données relatives aux personnes vaccinées (VACSI)

In [12]:
d_vac_1, path_temp = cc.vac_input()
d_vac_2 = cc.vac_tot_3C(d_vac_1)
d_vac_3 = cc.vac_compute(d_vac_2)

dout = d_vac_3
fname = path_temp + '-tot-3C-compute.csv'
dout.to_csv(fname, sep = ';', index = False)
print(fname)

../Data/vacsi-a-dep-2021-04-13-18h55.csv
../Temp/v4/vacsi-a-dep-2021-04-13-18h55-tot-3C-compute.csv

In [13]:
print(d_vac_1.shape)
d_vac_1.sample(3)

(124762, 7)

,dep,clage_vacsi,jour,n_dose1,n_dose2,n_cum_dose1,n_cum_dose2
98670,90,39,2021-01-12,4,0,8,0
3013,02,79,2021-01-13,21,0,72,0
105862,970,80,2021-02-04,0,0,0,0

In [14]:
print(d_vac_2.shape)
d_vac_2.sample(3)

(49648, 7)

,entity,three_class,jour,n_dose1,n_dose2,n_cum_dose1,n_cum_dose2
16734,39,60+,2021-01-06,45,0,48,0
44930,Centre-Val de Loire,60+,2021-04-10,7584,1682,316120,124595
11604,29,0-29,2021-01-08,4,0,4,0

In [15]:
print(d_vac_3.shape)
d_vac_3.sample(3)

(49648, 9)

,entity,three_class,jour,n_dose1,n_dose2,n_cum_dose1,n_cum_dose2,taux dose 1,taux dose 2
44962,Corse,60+,2021-01-01,0,0,0,0,0.000000,0.000000
25774,60,60+,2021-01-19,844,1,3155,2,1.613877,0.001023
34110,79,60+,2021-03-11,1279,237,19297,11571,16.768626,10.054919

In [16]:
toc = time()
print(-tic+toc, ' s')

5.950894594192505  s