In [1]:
%matplotlib inline

import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import time
import json

In [2]:
fname = 'sp-pos-quot-dep-2021-03-28-19h20-nat.csv'
d = pd.read_csv(fname, 
                sep = ';', 
                parse_dates = ['jour'], 
                dtype = {'P': int, 'T': int},
                skiprows = [1])
d.sample(3)

           jour  cl_age90     P      T           pop
1943 2020-11-05        69  5017  35126  8.004083e+06
390  2020-06-17        49   123   4779  8.592886e+06
2711 2021-01-14        49  2984  46968  8.592886e+06

In [3]:
d.dtypes

jour        datetime64[ns]
cl_age90             int64
P                    int64
T                    int64
pop                float64
dtype: object

In [4]:
ages = d['cl_age90'].unique()

In [5]:
three_class = {0: 'whole',
               9: '0-19',
               19: '0-19',
               29: '20-59',
               39: '20-59',
               49: '20-59',
               59: '20-59',
               69: '60+',
               79: '60+',
               89: '60+',
               90: '60+',
              }

In [6]:
d['three_class'] = d['cl_age90'].map(lambda x: three_class[x])
d.sample(3)

           jour  cl_age90     P      T           pop three_class
310  2020-06-10        19    41   2699  8.336486e+06        0-19
1535 2020-09-29        59  1625  23877  8.792675e+06       20-59
1572 2020-10-02        90   241   4773  9.125806e+05         60+

In [7]:
dg = d.groupby(['jour', 'three_class']).agg([sum])
dg.sample(3)

                       cl_age90     P      T           pop
                            sum   sum    sum           sum
jour       three_class
2020-05-23 whole              0   260  18914  6.711500e+07
2020-09-05 0-19              28   732  16969  1.609969e+07
2020-09-15 60+              327  1830  46778  1.785758e+07

In [8]:
dg = (dg.reset_index()
      .drop(columns = ['cl_age90'])
            )
dg.sample(3)

/home/edmz/snap/jupyter/common/lib/python3.7/site-packages/pandas/core/generic.py:4152: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

          jour three_class      P       T           pop
                              sum     sum           sum
871 2020-12-16       whole  15332  334298  6.711500e+07
204 2020-07-03        0-19    136   12582  1.609969e+07
657 2020-10-24       20-59  16367  101402  3.315772e+07

In [9]:
dg.tail(3)

           jour three_class      P       T           pop
                               sum     sum           sum
1265 2021-03-25       20-59  24960  303746  3.315772e+07
1266 2021-03-25         60+   6643   89679  1.785758e+07
1267 2021-03-25       whole  41439  560566  6.711500e+07

In [10]:
fname = 'sp-pos-quot-dep-2021-03-28-19h20.csv'
fname = fname[:-4] + '-nat3C.csv'
dg.to_csv(fname, sep = ';', index = False)